.back{
    background-color:none;
    text-decoration: none;
    list-style:none;
    color:white;
    display: flex;
    margin: 20px;
}

.categorias{
    padding: 20px;
    margin:20px;
    list-style: none;
    color: white;
}





